<div
  class="modal-overlay"
  [class.show]="shouldShowMainModal"
  *ngIf="shouldShowMainModal"
  (click)="closeModal()"
>
  <div class="modal-content choose-modal" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>{{ 'CHOOSE_NUTRITION_PLAN_TYPE' | translate }}</h2>

      <button class="close-btn" type="button" (click)="closeModal()">
        <i-feather name="x"></i-feather>
      </button>
    </div>

    <div class="modal-body">
      <div
        class="plan-options"
        [class.plan-options--two]="enabledPlanCount === 2"
        [class.plan-options--one]="enabledPlanCount === 1"
        *ngIf="hasAnyPlanType; else noPlanTypes"
      >
        <div class="plan-option" *ngIf="canCreateFullMealPlan">
          <h3>{{ 'FULL_MEAL_PLAN' | translate }}</h3>
          <p>{{ 'FULL_MEAL_PLAN_DESCRIPTION' | translate }}</p>

          <button class="btn-primary" type="button" (click)="createFullMealPlan()">
            {{ 'CREATE_FULL_MEAL_PLAN' | translate }}
          </button>
        </div>

        <div class="plan-option" *ngIf="canCreateMacroDailyPlan">
          <h3>{{ 'MACRO_TOTAL_DAY_PLAN' | translate }}</h3>
          <p>{{ 'MACRO_TOTAL_DAY_DESCRIPTION' | translate }}</p>

          <button class="btn-primary" type="button" (click)="createMacroTotalPlan()">
            {{ 'CREATE_TOTAL_DAY_PLAN' | translate }}
          </button>
        </div>

        <div class="plan-option" *ngIf="canCreateMacroEachMealPlan">
          <h3>{{ 'MACRO_EACH_MEAL_PLAN' | translate }}</h3>
          <p>{{ 'MACRO_EACH_MEAL_DESCRIPTION' | translate }}</p>

          <button class="btn-primary" type="button" (click)="createMacroEachMealPlan()">
            {{ 'CREATE_EACH_MEAL_PLAN' | translate }}
          </button>
        </div>
      </div>

      <ng-template #noPlanTypes>
        <div class="plan-option">
          <h3>{{ 'NO_PLAN_TYPES_ENABLED' | translate }}</h3>
          <p>{{ 'ENABLE_PLAN_TYPE_IN_SETTINGS' | translate }}</p>
        </div>
      </ng-template>
    </div>

    <div class="modal-footer">
      <button class="btn-secondary" type="button" (click)="closeModal()">
        {{ 'CANCEL' | translate }}
      </button>
    </div>
  </div>
</div>

<div
  class="modal-overlay"
  [class.show]="shouldShowDurationModal"
  *ngIf="shouldShowDurationModal"
  (click)="closeDurationModal()"
>
  <div class="modal-content choose-modal nutrition-duration-modal" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>{{ 'CREATE_ITEM' | translate:{ title: selectedPlanTypeLabel } }}</h2>

      <button class="close-btn" type="button" (click)="closeDurationModal()">
        <i-feather name="x"></i-feather>
      </button>
    </div>

    <div class="modal-body">
      <label class="nutrition-duration-field">
        <span>{{ 'PROGRAM_NAME' | translate }} <b>*</b></span>
        <input
          type="text"
          [(ngModel)]="nutritionProgramName"
          [placeholder]="'NUTRITION_PROGRAM_NAME_EXAMPLE' | translate"
        />
      </label>

      <label class="nutrition-duration-field">
        <span>{{ 'DURATION' | translate }} <b>*</b></span>
        <select [(ngModel)]="nutritionDurationWeeks">
          <option *ngFor="let option of nutritionDurationOptions" [ngValue]="option">
            {{ option }} {{ option === 1 ? ('WEEK' | translate) : ('WEEKS' | translate) }}
          </option>
        </select>
      </label>

      <p class="nutrition-duration-copy">
        {{ 'CREATE_WEEKS_NUTRITION_PROGRAM' | translate:{ count: normalizedDurationWeeks } }}
      </p>

      <div class="nutrition-duration-info">
        <i-feather name="info"></i-feather>
        <span>{{ 'PROGRAM_ORGANIZED_BY_WEEKS' | translate }}</span>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn-secondary" type="button" (click)="closeDurationModal()">
        {{ 'CANCEL' | translate }}
      </button>
      <button
        class="btn-primary nutrition-duration-submit"
        type="button"
        [disabled]="!nutritionProgramName.trim()"
        (click)="confirmNutritionPlanDetails()"
      >
        {{ 'CREATE_PLAN' | translate }}
      </button>
    </div>
  </div>
</div>
