<button
  type="button"
  class="toggle-sidebar"
  (click)="toggleSidebar()"
  [attr.aria-expanded]="isExpanded"
  aria-controls="app-sidebar"
  [attr.aria-label]="isExpanded ? 'Close sidebar' : 'Open sidebar'">
  <i-feather [name]="isExpanded ? 'x' : 'menu'"></i-feather>
</button>

<aside id="app-sidebar" class="sidebar" [class.expanded]="isExpanded">
  <div class="sidebar-header">
    <img
      src="assets/yocoachlogo.png"
      class="logo"
      alt="Yo Coach Logo"
    />
  </div>

  <div class="sidebar-nav">
    <ng-scrollbar [style.height]="listMaxHeight" visibility="hover">
      <ul class="nav-list">
        <ng-container *ngFor="let item of sidebarItems; trackBy: trackByItem">
          <li class="nav-item" [class.active]="item.isActive">
            <!-- Group Title -->
            <ng-container *ngIf="item.groupTitle">
              <div class="nav-group-title">
                {{ item.title | translate }}
              </div>
            </ng-container>

            <!-- Menu Item -->
            <ng-container *ngIf="!item.groupTitle">
              <a *ngIf= "!item.submenu?.length"
                [routerLink]="item.path"
                [class.has-submenu]="item.submenu?.length"
                (click)="toggleSubmenu($event, item)"
                class="nav-link"
                [class.active]="item.isActive">
                <i-feather [name]="item.icon" class="nav-icon"></i-feather>
                <span class="nav-label">{{ item.title | translate }}</span>

                <ng-container *ngIf="item.badge">
                  <span class="nav-badge">
                    {{ item.badge }}
                  </span>
                </ng-container>
              </a>
              <a *ngIf= "item.submenu?.length"
                href="javascript:void(0)"
                [class.has-submenu]="item.submenu?.length"
                (click)="toggleSubmenu($event, item)"
                class="nav-link"
                [class.active]="item.isActive">
                <i-feather [name]="item.icon" class="nav-icon"></i-feather>
                <span class="nav-label">{{ item.title | translate }}</span>

                <ng-container *ngIf="item.badge">
                  <span class="nav-badge">
                    {{ item.badge }}
                  </span>
                </ng-container>

                <ng-container *ngIf="item.submenu?.length">
                  <i-feather
                    name="chevron-down"
                    class="submenu-arrow"
                    [class.expanded]="item.isExpanded">
                  </i-feather>
                </ng-container>
              </a>

              <!-- Submenu -->
              <ng-container *ngIf="item.submenu?.length">
                <ul class="submenu" [class.expanded]="item.isExpanded">
                  <li *ngFor="let subItem of item.submenu; trackBy: trackByItem" class="submenu-item" [class.active]="subItem.isActive">
                    <a
                      [routerLink]="subItem.path"
                      class="submenu-link"
                      (click)="activateSubmenu(item, subItem)">
                      <i-feather [name]="subItem.icon" class="submenu-icon"></i-feather>
                      <span class="submenu-label">{{ subItem.title | translate }}</span>
                    </a>
                  </li>
                </ul>
              </ng-container>
            </ng-container>
          </li>
        </ng-container>
      </ul>
    </ng-scrollbar>
  </div>
</aside>

