<!-- Root -->
<div class="np-root">
  <div class="np-shell">

    <!-- ===== Left Sidebar (Days) ===== -->
    <aside class="np-aside">
      <div class="np-aside__head">
        <h2 class="np-h6">{{ 'PROGRAM_STRUCTURE' | translate }}</h2>
        <p class="np-aside__sub">{{ 'WEEKS_DAYS_COUNT' | translate:{weeks: nutritionWeeks?.length || 0, days: days?.length || 0} }}</p>
      </div>

      <div class="np-aside__body">
        <div class="np-week-card" *ngFor="let week of nutritionWeeks">
          <button type="button" class="np-week-card__head" (click)="toggleWeek(week.weekNumber)" [attr.aria-expanded]="!isWeekCollapsed(week.weekNumber)">
            <div>
              <strong>{{ 'WEEK_NUMBER' | translate:{number: week.weekNumber} }}</strong>
              <small>{{ 'DAY_RANGE' | translate:{start: week.days[0].index + 1, end: week.days[week.days.length - 1].index + 1} }}</small>
            </div>
            <span class="np-week-card__count">{{ 'DAYS_COUNT' | translate:{count: week.days.length} }}</span>
            <i-feather [name]="isWeekCollapsed(week.weekNumber) ? 'chevron-down' : 'chevron-up'" class="np-week-card__chevron"></i-feather>
          </button>

          <div class="np-dayrow" *ngFor="let item of week.days" [class.is-active]="selectedDay?.id === item.day.id" [hidden]="isWeekCollapsed(week.weekNumber)">
            <button
              class="np-day"
              [class.is-active]="selectedDay?.id === item.day.id"
              (click)="selectDay(item.day)"
            >
              <span class="np-day__title">{{ dayLabel(item.index) }}</span>
              <small class="np-day__meta">{{ (item.day.meals?.length || 0) > 0 ? mealCountLabel(item.day.meals?.length || 0) : ('EMPTY_DAY' | translate) }}</small>
            </button>

          </div>
        </div>

        <!-- Add Day -->
        <button class="np-btn np-btn--dash np-btn--ghost np-btn--full" (click)="addDay()">
          <i-feather name="plus" class="np-ico"></i-feather>
          {{ 'ADD_DAY' | translate }}
        </button>

        <div class="np-stack">
          <button class="np-rowbtn" (click)="duplicateSelectedDay()">
            <span>{{ 'DUPLICATE_DAY' | translate }}</span>
            <i-feather name="copy" class="np-ico"></i-feather>
          </button>
        </div>
      </div>
    </aside>

    <!-- ===== Main ===== -->
    <main class="np-main">
      <section class="np-card np-card--settings">
        <div class="np-settings-kicker">
          <span class="np-settings-kicker__dot"></span>
          <span>{{ 'GLOBAL_PLAN_SETTINGS' | translate }}</span>
        </div>

        <!-- Plan Title -->
        <div class="np-field">
          <label class="np-label">{{ 'PLAN_TITLE' | translate }} *</label>
          <input class="np-input" type="text" [(ngModel)]="planName" />
        </div>

        <!-- Description -->
        <button *ngIf="!showPlanDescription" class="np-link" (click)="togglePlanDescription()">
          <i-feather name="plus" class="np-ico"></i-feather>
          {{ 'ADD_PLAN_DESCRIPTION' | translate }}
        </button>

        <ng-template [ngIf]="showPlanDescription">
          <div class="np-field">
            <label class="np-label">{{ 'PLAN_DESCRIPTION' | translate }}</label>
            <textarea class="np-input np-textarea" rows="5" [(ngModel)]="planDescription"></textarea>
            <button class="np-close" (click)="togglePlanDescription()">
              <i-feather name="x" class="np-ico"></i-feather>
            </button>
          </div>
        </ng-template>

        <div class="np-field">
          <label class="np-label">{{ 'DURATION_WEEKS' | translate }} <span class="np-danger">*</span></label>
          <select
            class="np-input"
            [ngModel]="durationWeeks"
            (ngModelChange)="onDurationWeeksChange($event)"
            name="durationWeeks"
          >
            <option *ngFor="let option of durationOptions" [ngValue]="option">
              {{ 'WEEK_DAY_OPTION' | translate:{weeks: option, days: option * 7} }}
            </option>
          </select>
        </div>

        <div class="np-field np-template-visibility" *ngIf="canCreateTemplate">
          <label class="np-checkline">
            <input
              type="checkbox"
              [(ngModel)]="isMealPlanTemplate"
            />
            <span>
              {{ 'VISIBLE_TO_OTHER_COACHES' | translate }}
            </span>
          </label>
          <p class="np-help">
            {{ 'NUTRITION_TEMPLATE_VISIBILITY_HELP' | translate }}
          </p>
        </div>


        <!-- Separator -->
        <div class="np-sep"></div>

        <div class="np-mobile-days">
          <ng-container *ngFor="let d of days; trackBy: trackByDay; let i = index">
            <button
              type="button"
              class="np-mobile-day"
              [class.is-active]="selectedDay?.id === d.id"
              (click)="selectDay(d)"
            >
              <span class="np-mobile-day__title">{{ dayLabel(i) }}</span>
            </button>
          </ng-container>
          <button type="button" class="np-mobile-add" (click)="addDay()" [attr.aria-label]="'ADD_DAY' | translate">
            <i-feather name="plus" class="np-ico"></i-feather>
          </button>
        </div>


        <!-- Day Header -->
        <div class="builder-rail">
        <div class="np-dayhead">
          <h3 class="np-h6">{{ selectedDay ? displayDayName(selectedDay, days.indexOf(selectedDay)) : '' }}</h3>
          <button class="np-mini" (click)="toggleDayDescription()">
            <i-feather name="edit-2" class="np-ico"></i-feather>
          </button>
        </div>

        <!-- Nutrition Description -->
        <ng-container *ngIf="selectedDay">
          <button *ngIf="!selectedDay.showDescription" class="np-link" (click)="toggleDayDescription()">
            <i-feather name="plus" class="np-ico"></i-feather>
            {{ 'ADD_NUTRITION_DESCRIPTION' | translate }}
          </button>

          <ng-template [ngIf]="selectedDay.showDescription">
            <div class="np-field">
              <label class="np-label">{{ 'NUTRITION_DESCRIPTION' | translate }}</label>
              <textarea class="np-input np-textarea" rows="5" [(ngModel)]="selectedDay.description"></textarea>
              <button class="np-close" (click)="toggleDayDescription()">
                <i-feather name="x" class="np-ico"></i-feather>
              </button>
            </div>
            <div class="np-sep"></div>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="selectedDay">
          <div class="np-day-total">
            <div class="np-day-total__header">
              <span class="np-day-total__title">{{ 'DAY_TOTAL' | translate }}</span>
              <span class="np-day-total__count">
        {{ mealCountLabel(selectedDay.meals?.length || 0) }}
      </span>
            </div>

            <div class="np-day-total__grid">
              <div class="np-day-total__item">
                <div class="np-day-total__value">
                  {{ selectedDay.dayTargets?.calories || 0 }}
                </div>
                <div class="np-day-total__label">{{ 'CALORIES' | translate }}</div>
                <div class="np-day-total__unit">kcal</div>
              </div>

              <div class="np-day-total__item">
                <div class="np-day-total__value">
                  {{ selectedDay.dayTargets?.proteinG || 0 }}<span class="np-inline-unit">g</span>
                </div>
                <div class="np-day-total__label">{{ 'PROTEIN' | translate }}</div>
              </div>

              <div class="np-day-total__item">
                <div class="np-day-total__value">
                  {{ selectedDay.dayTargets?.carbsG || 0 }}<span class="np-inline-unit">g</span>
                </div>
                <div class="np-day-total__label">{{ 'CARBS' | translate }}</div>
              </div>

              <div class="np-day-total__item">
                <div class="np-day-total__value">
                  {{ selectedDay.dayTargets?.fatG || 0 }}<span class="np-inline-unit">g</span>
                </div>
                <div class="np-day-total__label">{{ 'FAT' | translate }}</div>
              </div>
            </div>
          </div>

          <div class="np-sep"></div>
        </ng-container>
        <!-- Meals Title -->
        <div class="np-subtle">{{ 'MEALS_TITLE' | translate }}</div>

        <!-- ===== Meals Loop ===== -->
        <ng-container *ngIf="selectedDay">
          <div
            class="np-meals-list"
            cdkDropList
            [cdkDropListData]="selectedDay.meals"
            (cdkDropListDropped)="onDropMeal($event)"
          >
          <article *ngFor="let meal of selectedDay.meals; trackBy: trackByMeal; let mealIndex = index" class="np-meal" cdkDrag>
            <header class="np-meal__head">
              <div class="np-meal__left">
                <h4 class="np-h6 np-brand">{{ displayMealName(meal, mealIndex) }}</h4>
                <button class="np-mini" (click)="promptMealRename(meal)">
                  <i-feather name="edit-2" class="np-ico"></i-feather>
                </button>
              </div>

              <div class="np-meal__right">
                <div class="np-badges">
                  <div class="np-badge">
                    <div class="np-badge__label">{{ 'CALORIES' | translate }}</div>
                    <div class="np-badge__val">{{ meal.mealTargets.calories }} Kcal</div>
                  </div>

                  <div class="np-badge">
                    <div class="np-badge__label">{{ 'PROTEIN' | translate }}</div>
                    <div class="np-badge__val">{{ meal.mealTargets.proteinG }} g</div>
                  </div>

                  <div class="np-badge">
                    <div class="np-badge__label">{{ 'CARBS' | translate }}</div>
                    <div class="np-badge__val">{{ meal.mealTargets.carbsG }} g</div>
                  </div>

                  <div class="np-badge">
                    <div class="np-badge__label">{{ 'FAT' | translate }}</div>
                    <div class="np-badge__val">{{ meal.mealTargets.fatG }} g</div>
                  </div>
                </div>

                <button class="np-iconbtn" (click)="removeMeal(meal)">
                  <i-feather name="trash-2" class="np-ico"></i-feather>
                </button>
              </div>
            </header>

            <div class="np-sep" style="margin-bottom: 16px"></div>

            <!-- Macro Inputs -->
            <div class="np-meal__body">
              <div class="np-macro-row">
                <div class="np-field">
                  <label class="np-label">{{ 'PROTEIN' | translate }}</label>
                  <input
                    class="np-input np-input--unit"
                    type="number"
                    [(ngModel)]="meal.mealTargets.proteinG"
                    (input)="updateMealCalories(meal)"
                    data-unit="g"
                  />
                </div>

                <div class="np-field">
                  <label class="np-label">{{ 'CARBS' | translate }}</label>
                  <input
                    class="np-input np-input--unit"
                    type="number"
                    [(ngModel)]="meal.mealTargets.carbsG"
                    (input)="updateMealCalories(meal)"
                    data-unit="g"
                  />
                </div>

                <div class="np-field">
                  <label class="np-label">{{ 'FAT' | translate }}</label>
                  <input
                    class="np-input np-input--unit"
                    type="number"
                    [(ngModel)]="meal.mealTargets.fatG"
                    (input)="updateMealCalories(meal)"
                    data-unit="g"
                  />
                </div>

                <div class="np-field">
                  <label class="np-label">{{ 'CALORIES' | translate }}</label>
                  <input
                    class="np-input np-input--unit"
                    type="number"
                    [value]="meal.mealTargets.calories"
                    disabled
                    data-unit="Kcal"
                  />
                </div>
              </div>
            </div>
          </article>
          </div>
        </ng-container>

        <!-- Add Meal -->
        <div class="np-addmeal">
          <button class="np-btn np-btn--addmeal" (click)="addMeal()">
            <i-feather name="plus" class="np-ico"></i-feather>
            {{ 'ADD_ANOTHER_MEAL' | translate }}
          </button>
        </div>
        </div>
      </section>

      <!-- ===== Sticky Save ===== -->
      <div class="np-sticky">
        <button class="np-btn np-btn--save np-btn--full" (click)="savePlan()">
          <i-feather name="save" class="np-ico"></i-feather>

          <!-- Dynamic Button Text -->
          {{ (isEditMode ? 'UPDATE_PLAN' : 'SAVE_PLAN') | translate }}
        </button>
      </div>
    </main>
  </div>
</div>

<div class="duration-confirm" *ngIf="pendingDurationWeeks" role="dialog" aria-modal="true">
  <div class="duration-confirm__backdrop" (click)="cancelDurationReduction()"></div>
  <section class="duration-confirm__card">
    <button type="button" class="duration-confirm__close" [attr.aria-label]="'CLOSE' | translate" (click)="cancelDurationReduction()">
      <i-feather name="x" class="duration-confirm__closeIcon"></i-feather>
    </button>
    <div class="duration-confirm__icon">
      <i-feather name="alert-triangle" class="duration-confirm__iconSvg"></i-feather>
    </div>
    <div>
      <h2 class="duration-confirm__title">{{ 'DELETE_DAYS_FROM_PLAN' | translate }}</h2>
      <p class="duration-confirm__text">
        {{ 'DURATION_REDUCTION_WARNING' | translate:{weeks: pendingDurationWeeks, days: pendingDurationRemovedDays} }}
      </p>
      <p class="duration-confirm__hint">{{ 'ACTION_CANNOT_BE_UNDONE_AFTER_CONFIRM' | translate }}</p>
    </div>
    <div class="duration-confirm__actions">
      <button type="button" class="duration-confirm__btn duration-confirm__btn--ghost" (click)="cancelDurationReduction()">
        {{ 'CANCEL' | translate }}
      </button>
      <button type="button" class="duration-confirm__btn duration-confirm__btn--danger" (click)="confirmDurationReduction()">
        {{ 'DELETE_DAYS' | translate }}
      </button>
    </div>
  </section>
</div>
