<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">{{ 'CALENDAR' | translate }}</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
      </li>
      <li class="breadcrumb-item">{{ 'CALENDAR' | translate }}</li>
    </ul>
    <div class="section-body">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2 col-sm-12 p-l-30">
                  <div class="m-b-25">
                    <button class="btn btn-icon icon-left btn-primary" (click)="eventWindowCall($event, 'addEvent')">{{ 'ADD_EVENT' | translate }}</button>
                  </div>
                  <p>{{ 'MY_CALENDARS' | translate }}</p>
                  <div class="filter-container">
                    <ul class="filterCheck">
                      @for (filter of filters; track filter; let i = $index) {
                        <li>
                          <input type="checkbox" name="filter{{i}}" [name]="calCheck" [value]="filter.value"
                            [checked]="filter.checked === true" (change)="changeCategory($event, filter)" />
                            {{ filter.value | translate }}
                          </li>
                        }
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-10 col-sm-12">
                    <div class="panel-body">
                      <full-calendar [options]='calendarOptions'>
                      </full-calendar>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add record modal -->
        <ng-template #eventWindow let-modal>
          <div class="modal-header editRowModal">
            <h4 class="modal-title" id="modal-basic-title">
              <div class="table-modal-header">
                <div class="modal-about">
                  <div class="fw-bold p-t-10 font-17">
                  {{ isEditClick ? dialogTitle : ('ADD_NEW_EVENT' | translate) }}</div>
                </div>
              </div>
            </h4>
            <button type="button" class="close" [attr.aria-label]="'CLOSE' | translate" (click)="modal.dismiss()">
              <span aria-hidden="true"><i class="material-icons">close</i></span>
            </button>
          </div>
          <div class="modal-body">
            <form class="register-form" [formGroup]="calendarForm">
              <div class="input-field col s12 d-none">
                <input formControlName="id" class="form-control" type="hidden">
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                    <label>{{ 'TITLE' | translate }}<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [placeholder]="'TITLE' | translate" formControlName="title" required>
                      @if (!calendarForm.get('title')?.valid && calendarForm.get('title')?.touched) {
                        <small class="form-text text-danger">{{ 'TITLE_REQUIRED' | translate }}</small>
                      }
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                      <label>{{ 'CATEGORY' | translate }} <span class="text-danger">*</span></label>
                      <select class="form-select form-control" formControlName="category" required>
                        <option value="" selected disabled>{{ 'PLEASE_SELECT' | translate }}</option>
                        <option id="work" value="work">{{ 'WORK' | translate }}</option>
                        <option id="personal" value="personal">{{ 'PERSONAL' | translate }}</option>
                        <option id="important" value="important">{{ 'IMPORTANT' | translate }}</option>
                        <option id="travel" value="travel">{{ 'TRAVEL' | translate }}</option>
                        <option id="friends" value="friends">{{ 'FRIENDS' | translate }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
                      <label>{{ 'START_DATE' | translate }}<span class="text-danger">*</span></label>
                      <input type="date" class="form-control" [placeholder]="'START_DATE' | translate" formControlName="startDate" required>
                        @if (!calendarForm.get('startDate')?.valid && calendarForm.get('startDate')?.touched) {
                          <small class="form-text text-danger">{{ 'START_DATE_REQUIRED' | translate }}</small>
                        }
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
                        <label>{{ 'END_DATE' | translate }}<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" [placeholder]="'END_DATE' | translate" formControlName="endDate" required>
                          @if (!calendarForm.get('endDate')?.valid && calendarForm.get('endDate')?.touched) {
                            <small class="form-text text-danger">{{ 'END_DATE_REQUIRED' | translate }}</small>
                          }
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                          <label>{{ 'DETAILS' | translate }}<span class="text-danger">*</span></label>
                          <textarea type="textarea" class="form-control" [placeholder]="'DETAILS' | translate" formControlName="details"></textarea>
                        </div>
                      </div>
                      <div class="modal-footer">
                        @if (!isEditClick) {
                          <button type="button" class="btn btn-primary" (click)="saveEvent(calendarForm)"
                          [disabled]="!calendarForm.valid">{{ 'ADD_EVENT' | translate }}</button>
                        }
                        @if (isEditClick) {
                          <button type="button" class="btn btn-primary" (click)="eventClick(calendarForm)"
                          [disabled]="!calendarForm.valid">{{ 'SAVE_EVENT' | translate }}</button>
                        }
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{ 'CLOSE' | translate }}</button>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </div>
            </section>
