/* Wrapper principal */
.layout-body {
  display: flex;
  margin-top: 0;
}

/* Réserve l'espace pour la sidebar fixe */
.sidebar-spacer {
  width: 250px; /* même largeur que ta sidebar */
  flex-shrink: 0;
  transition: width 0.3s ease;
}

.sidebar-spacer.closed {
  width: 0;
}

.content {
  flex: 1;
  min-width: 0;
}
